.admin-page-welcome{
    text-align: center;
    margin: 50px;
}
.admin-page-book-adm{
    text-align: center;
    margin: 10px;
}
.admin-page-category-adm{
    text-align: center;
}
.adm-p-b{
    text-align: center;
    margin-top: 50px;
}